# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Env / secrets
backend/.env
frontend/.env
frontend/.env.production
frontend/.env.development

# Databases
*.db
backend/budgetbites.db

# Frontend
frontend/node_modules/
frontend/dist/

# OS / editors
.DS_Store
.vscode/
.idea/

# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd
